#Portfolio {
  .inner-container {
    background-color: #e6cfcf;
    padding: 0;
    max-width: 45%;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .img-container{
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      img {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        width: 100%;
        height: 100%;
      }
    }

    .middle-container {
      .title-container {
        background-color: #e69b9b;
        border-radius: 0;
        margin: 0 ;
        padding: 0 0.5rem;
        .subsection-title {
          border-radius: 0;
          background-color: transparent;
          margin: 0;
          padding: 0;
          font-size: 2.5rem;
        }
      }

      .icons-container {
        text-align: left;
        .icon {
          height: 2.5rem;
          max-width: 2.5rem;
          margin: 0.3rem 1rem 0.3rem 1rem;
        }
      }
    }

    .bottom-container {
      flex-grow: 1;
      background-color: #ececec;
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      padding: 0.5rem 1rem;
      p {
        margin: 0;
        color: #747373;
        font-size: 1rem;
        text-align: justify;
      }
    }
  }
}



@media only screen and (max-width: 1700px) {

}

@media only screen and (max-width: 1280px) {
  #Portfolio {
    .inner-container {
      .middle-container {
        .title-container {
          .subsection-title {
            font-size: 2rem;
          }
        }
        .icons-container {
          .icon {
            height: 2rem;
            max-width: 2rem;
          }
        }
      }
      .bottom-container {
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media only screen
and (max-width: 770px) {
  #Portfolio {
    .inner-container {
      max-width: 85%;
    }
  }
}
