@mixin baseDelay() {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

@mixin baseDuration() {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

@mixin fadeOpacity() {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 022s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

@mixin expandBox() {
  -webkit-transition:max-height 200ms ease-in;
  -moz-transition:max-height 200ms ease-in;
  -o-transition:max-height 200ms ease-in;
  transition:max-height 200ms ease-in;
}

@mixin rotateChevronTiming() {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -moz-transition:    -moz-transform 0.2s ease-in;
  -o-transition:      -o-transform 0.2s ease-in;
  -ms-transition:     -ms-transform 0.2s ease-in;
  transition:         transform 0.2s ease-in;
}

@mixin rotateChevron() {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

// @mixin baseEase() {
//   -webkit-transition-timing-function: cubiz-bezier(.05,1.11,.98,.98);
//   -moz-transition-timing-function: cubiz-bezier(.05,1.11,.98,.98);
//   -ms-transition-timing-function: cubiz-bezier(.05,1.11,.98,.98);
//   -o-transition-timing-function: cubiz-bezier(.05,1.11,.98,.98);
//   transition-timing-function: cubiz-bezier(.05,1.11,.98,.98);
// }

@mixin baseAnimation() {
  @include baseDelay();
  @include baseDuration();
}

@mixin navAnimation() {
  @include baseAnimation();
  -webkit-transform: translateZ(0);
}

@mixin contentAnimation() {
  @include baseDuration();
  // -webkit-transform: translateZ(0);
}
