@mixin baseAnimation() {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;

  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;

  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

@mixin navAnimation() {
  @include baseAnimation();
  -webkit-transition-property: -webkit-transform,width;
  -moz-transition-property: -moz-transform,width;
  -ms-transition-property: -ms-transform,width;
  -o-transition-property: -o-transform,width;
  transition-property: transform,width;
}

@mixin contentAnimation() {
  @include baseAnimation();
  -webkit-transition-property: -webkit-transform,margin;
  -moz-transition-property: -moz-transform,margin;
  -ms-transition-property: -ms-transform,margin;
  -o-transition-property: -o-transform,margin;
  transition-property: transform,margin;
}
