@mixin baseDelay() {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

@mixin baseDuration() {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

// @mixin baseEase() {
//   -webkit-transition-timing-function: cubiz-bezier(.05,1.11,.98,.98);
//   -moz-transition-timing-function: cubiz-bezier(.05,1.11,.98,.98);
//   -ms-transition-timing-function: cubiz-bezier(.05,1.11,.98,.98);
//   -o-transition-timing-function: cubiz-bezier(.05,1.11,.98,.98);
//   transition-timing-function: cubiz-bezier(.05,1.11,.98,.98);
// }

@mixin baseAnimation() {
  @include baseDelay();
  @include baseDuration();
}

@mixin navAnimation() {
  @include baseAnimation();
  -webkit-transform: translateZ(0);
}

@mixin contentAnimation() {
  @include baseDuration();
  // -webkit-transform: translateZ(0);
}
