html {

}

body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  background-color: rgb(245,248,250);
  margin: 0 0 0 12.95rem;
}

@media all and (max-width: 1700px){
  body {
    margin: 0 0 0 10rem;
  }
}

@media all and (max-width: 1280px) {
  body {
    margin: 0 0 0 2.30rem;
  }
}
