nav {
  padding: .5rem;
  background-color: #00bcd4;
  width: 256px;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
}

nav a {
  margin: .5rem;
  color: #fffdfdcc;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
