@import '../../Layout/animations';

#Education {
  background-color: #bee3e2;
  .inner-container {
    // @include testDuration();
    &.expanded {
      // padding: 1rem;
    }
    padding: 1rem;
    background-color: #3233b9;
    padding: 1rem 1rem 0 1rem;
    max-width: 85%;
    min-width: 50%;
    h3 {
      margin-bottom: 0;
      background-color: #3233b9;
      border-radius: 1rem;
      &.expanded {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .chevron {
        @include rotateChevronTiming();
        display: inline;
        height: 1.5rem;
        margin: 0 1rem 0 1rem;
        &.expanded {
          @include rotateChevron();
        }
      }
    }

    .content {
      @include expandBox();
      &.expanded {
        max-height: 30rem;
        margin-bottom: 1rem;
        overflow: hidden;
      }
      margin-bottom: 0;
      display: flex;
      max-height: 0;
      flex-flow: wrap;
      justify-content: flex-start;
      background-color: #ececec;
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      .left-side {
        @include expandBoxDuration();
        &.expanded {
          visibility: visible;
        }
        visibility: hidden;
        min-width: 30%;
        margin: 1rem;
        .school {
          max-width: 6rem;
        }
        p{
          margin: 0;
        }
      }
      .right-side {
        @include expandBoxDuration();
        &.expanded {
          visibility: visible;
        }
        visibility: hidden;
        p{
          margin-top: 0;
        }
        margin: 0 -1rem -1rem 0;
        background-color: rgba(0, 0, 0, 0.06);
        flex-grow: 1;
        border-bottom-right-radius: 1rem;
        padding: 1rem;
      }
    }
  }
}
