@import "../../Layout/animations";

#Skills {
    background-color: #89c6d4;

    .inner-container {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 1700px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 770px) {
    #Skills {
        .inner-container {
            max-width: 85%;
            .subsection-title {
                font-size: 1.75rem;
            }
        }
    }
}
