@import '../Layout/fonts';
@include Rubik-Bold();
@include Rubik-Regular();

.Banner {
  position: relative;
  background-color: #00bcd4;
  background-image: url("../../assets/images/rain_sm.jpg");
  background-size: cover;
  padding: 0;
  height: 100vh;
  .banner-fade {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .name {
    display: flex;
    align-items: flex-start;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    h1 {
      // -webkit-transform: translateZ(0px);
      // text-align: center;
      margin: 0 0 0 0;

      font: 8rem 'Rubik-Regular';
      color: rgba(206,206,206,0.4);
      word-wrap: break-word;
      line-height: 0.8;
      text-align: right;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .Banner .name h1 {
    font-size: 6rem;
  }
}

@media only screen
and (max-width: 770px) {
  .Banner {
    margin-bottom: 0;
    .name h1 {
      font-size: 3rem;
    }
  }
}
