.NavLinks {
  ul {
    list-style: none;
    padding: 0px;
  }

  li {

    a {
      span {
        display: none;
        visibility: hidden;
      }
      svg {
        width: 1.35rem;
        height: 1.35rem;
        margin: 1rem 0 1rem 0;
        color: #216eb0;
      }
    }
  }
}
