.NavLinks {
  font-family: "Lato","Helvetica Neue","Helvetica",sans-serif;
  font-weight: bold;

  ul {
    list-style: none;
    padding: 0px;
  }

  li {
    white-space: nowrap;
    position: relative;
    &:hover {
      background-color: #d5d5d5;
    }

    a {
      text-decoration: none;
      color: #216eb0;
      display: block;
      padding: 0 0.5rem 0 0.5rem;

      svg {
        width: 1.35rem;
        height: 1.35rem;
        margin: 1rem 0 1rem 0;
      }

      span {
        margin-left: 0.5rem;
        position: absolute;
        top: 1.35rem;
        left: 2rem;
      }
    }
  }
}
